<p id="notice"><%= notice %></p>
<div class = "col-lg-5">
<div class="row entry-divider">
  <strong>Name:</strong>
   <%= @entry.fname %> <%= @entry.lname %>
</div>

<div class="row entry-divider">
  <strong>Age:</strong>
  <%= @entry.age %>
</div>

<div class="row entry-divider">
  <strong>Parent:</strong>
  <%= @entry.parent %>
</div>
<div class="row entry-divider">
  <strong>Pink:</strong>
  <span style="background-color: #FF1975"> 
      <% if @entry.pink? %>
        <font size = '4'>&#10003;</font>
      <% end %>
  </span>
</div>

<div class="row entry-divider">
  <strong>Yellow:</strong>
  <span style="background-color: #FFFF00"> 
      <% if @entry.yellow? %>
        <font size = '4'>&#10003;</font>
      <% end %>
    </span>
</div>

<div class="row entry-divider">
  <strong>Guard:</strong>
  <%= @entry.guard %>
</div>
<div class="row" style="padding-bottom: 10px">
  <strong>Test Date:</strong>
  <%= @entry.tested %>
</div>
<div class="row">
<%= button_to 'Edit', edit_entry_path(@entry), method: :get,class:"btn btn-primary show-btn" %> 
<%= button_to 'Delete', @entry, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger show-btn"%>
</div>
</div>