<!DOCTYPE html>
<html>
<head>
  <title>Swimbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "defaults", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", async: Rails.env.production? %>
 
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="theme-color" content="#CCCCCC">
</head>
<body style="padding-top:0px">
<div id="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: -20px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'YMCA SwimBook', root_url,{:class=>'navbar-brand'} %>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        <li class="sidebar-search">                                
                                  <%= form_tag(search_path, :method => "get") do %>
                                  <div class="input-group custom-search-form">

                                     <%= text_field_tag(:q, nil, :placeholder => "Search...",class: 'form-control') %>
                                     <span class="input-group-btn">
                                     <%= button_tag(type: "submit",class: 'btn btn-blue btn-search') do %>
                                        <i class="fa fa-search"></i>
                                    <% end %>
                                    </span>
                                    </div>
                                  <% end %>
                            <!-- /input-group -->
                        </li>
            <li>
            <%= link_to root_url,class: "active" do %>
                            <i class ="fa fa-home fa-fw"></i>
                            Home
                        <%end%>
            </li>
						<li>
						<%= link_to new_entry_path,class: "active" do %>
                            <i class ="fa fa-plus fa-fw"></i>
                            New Swim Test
                        <%end%>
						</li>
            <li>
            <%= link_to page_path('contact'),class: "active" do %>
                            <i class ="fa fa-paper-plane fa-fw"></i>
                            Contact
                        <%end%>
            </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
    </nav>
	<div id="page-wrapper" style="padding-top: 20px">

<%= yield %>
	</div>
</div>

</body>
</html>
